In [5]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.preprocessing import LabelEncoder,StandardScaler
from sklearn.feature_extraction.text import CountVectorizer
import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib.pylab as plt

In [6]:
dt = pd.read_csv("boxoffice.csv")

In [9]:
dt.head().T

                             0           1  ...           3              4
title             The Avengers     Titanic  ...      Avatar  The Lion King
domestic_revenue       6026491   169411543  ...    51433697      142791649
world_revenue       1274885664  1132871091  ...  1225323391      604140729
distributor       Warner Bros.      Disney  ...      Disney   Warner Bros.
opening_revenue      163620146    85549990  ...   109775324       59476800
opening_theaters           253         122  ...        3868           2934
budget               174687337   103948486  ...    46431596      203513696
MPAA                         R           G  ...           G              R
genres               Animation      Action  ...      Horror         Comedy
release_days                16         103  ...          85            158

[10 rows x 5 columns]

In [8]:
dt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2694 entries, 0 to 2693
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   title             2694 non-null   object
 1   domestic_revenue  2694 non-null   int64
 2   world_revenue     2694 non-null   int64
 3   distributor       2694 non-null   object
 4   opening_revenue   2694 non-null   int64
 5   opening_theaters  2694 non-null   int64
 6   budget            2694 non-null   int64
 7   MPAA              2694 non-null   object
 8   genres            2694 non-null   object
 9   release_days      2694 non-null   int64
dtypes: int64(6), object(4)
memory usage: 210.6+ KB

In [10]:
dt.isnull().sum().sum()

np.int64(0)

In [11]:
dt["domestic_revenue"] = dt["domestic_revenue"].astype(str).str[1:]

In [12]:
dt["domestic_revenue"].head()

0      026491
1    69411543
2    07836098
3     1433697
4    42791649
Name: domestic_revenue, dtype: object

In [13]:
for c in ['domestic_revenue', 'opening_theaters', 'release_days']:
    dt[c] = dt[c].astype(str).str.replace(',','')
    temp = (~dt[c].isnull())
    dt.loc[temp, c] = dt.loc[temp, c].astype(float)
    dt[c] = pd.to_numeric(dt[c],errors='coerce')